/* Common Shared Styles */

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
}
.Text-Primary{
    color: #FD6E0A;
}
.Button-Primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
.Section-Title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.Section-Description{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
.fa-solid{
    margin-right: 7px;
}

/* Nav Related Style */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 90px 0px 130px;
}
.Nav-Title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* Header Related Style */

.Header{
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.Banner{
    padding: 30px 30px 0px 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Banner-Content{
    margin-bottom: 80px;
}
.Banner .Profile-Picture{
    width: 400px;
    height: 403px;
}
.Banner-Greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.Banner-Title{
    font-size: 55px;
    font-weight: 800px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.Banner-Description{
    width: 500px;
}

/* Main section Styles */

main{
    max-width: 1000px;
    margin: 0 auto;
}

/* About Section Styles */

.About{
    padding: 50px 80px 80px 80px;
    background-color: #FFF8F3;
    margin: 100px 0px 70px 0px;
}
.About-Info-Container{
    display: flex;
    justify-content: space-around;
}
.About-Info{
    text-align: center;
}
.Info-Title{
    color: #757575;
}
.Info-Description{
    font-weight: bold;
}

/* What I Can Do Section Styles */

.Skills-Container{
    margin-bottom: 50px;
}
.What-I-Do-Description{
    padding: 0px 150px 30px 150px;
}
.Skills-Container{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.Skill{
    padding: 22px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Skill-Description{
    color: #757575;
}

/* My Resume Section Styles */

.Section-Title{
    margin-bottom: 20px;
    margin-top: 45px;
}
.Resume-Column-Title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.Resume-Container{
    display: flex;
    gap: 50px;
    margin-top: 0px;
}
.Resume-Item-Title{
    margin-bottom: 10px;
}
.Resume-Item-Institute{
    color: #474747;
    margin-bottom: 10px;
    margin-top: 0px;
}
.Resume-Item-Description{
    color: #757575;
}
.Download-Cv{
    text-align: center;
    margin: 25px 0px 50px 0px;
}

/* Footer Style */

footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 50px 200px 70px 100px;
}
.Footer-Column{
    width: 50%;
}
.Social-Links a{
    margin-right: 25px;
}
.Social-Links a:first-child{
    padding-left: 140px;
}
.Contact input[type="text"], .Contact input[type="email"],
textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    width: 100%;
}

/* Responsive Styles */

/* Mobile Devices */

.Hide{
    display: none;
}
@media screen and (max-width:776px) {
    .Header{
        width: 100%;
    }
    .Banner{
        flex-direction: column;
        padding: 0px 0px 0px 30px;
    }
    .Banner-Content{
        width: 100%;
        margin-bottom: 40px;
    }
    .Contact{
        margin-top: 10px;
    }
    .Nav-Title{
        margin: 61px 0px 5px 0px;
    }
    nav{
        flex-direction: column;
        width: 80%;
        margin: 0;
        padding-left: 30px;
    }
    nav > ul{
        width: 100%;
        flex-direction: row;
        padding-left: 0px;
        justify-content: space-evenly;
        margin-left: 20px;
    }
    nav > ul > li{
        padding: 0px 0px;
        text-align: center;
        margin: 0;
    }
    .Banner .Profile-Picture{
        width: 90%;
        height: 325px;
        padding-right: 8px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .Banner-Title{
        font-size: 40px;
    }
    .Banner-Description{
        font-size: 15px;
        width: 100%;
    }
    .Button-Primary{
        border-radius: 5px;
        background: #FD6E0A;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: 700px;
        padding: 15px 25px;
    }
    .Hire{
        background-color: red;
        padding: 10px 15px;
    }
    .About{
        padding: 15px 30px 30px 30px;
        margin: 0px;
    }
    .Section-Description{
        text-align: justify;
    }
    .About-Info-Container{
        flex-direction: column;
    }
    .Section-Title{
        font-size: 30px;
    }
    .Skills-Container{
        flex-direction: column;
    }
    .What-I-Do-Description{
        padding: 10px 30px;
        text-align: justify;
        font-size: 22px;
        word-wrap: normal;
    }
    .Skill{
        margin: 0px 30px;
        padding: 90px 40px;
    }
    .Resume-Container{
        flex-direction: column;
        text-align: center;
        margin: 0px 30px;
    }
    footer{
        flex-direction: column;
        padding: 0px 30px;
        gap: 0px;
        padding-bottom: 50px;
    }
    .Footer-Column{
        width: 100%;
    }
    .Input{
        width: 80%;
    }
    .Social-Links a:first-child{
        padding-left: 90px;
    }
}