/* Common Shared Styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.Text-Primary{
    color: #FD6E0A;
}
.Button-Primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700px;
    padding: 15px 35px;
}
/* Nav Related Style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Nav-Title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}